@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Quicksand:wght@300..700&display=swap');

:root {
  /* dimension */
  --width-full: 100%;
  --width-12col: 1200px;
  --width-tablet: 1000px;
  --width-phone: 500px;


  /*grid settings*/
  --grid-gap: 10px;
  --padding-default: 20px;

  /*colors*/
  --background-color-light: #DCEEF2;
  --background-color-dark-bg: #111111;
  --background-color-dark-transparent: #11111180;
  --color-darkblue: #134D70;
  --color-blue: #126DA6;
  --color_lightblue: #9AC7D9;
  --color-lightgreen: #ADD9C5;
  --color-green: #39B865;
}

/* base button*/

.base_button {
  text-transform: uppercase;
  background-color: #39B865;
  border-color: transparent;
  border-radius: 33px;
  width: 160px;
  height: 50px;
  color: var(--background-color-light);
  box-shadow: 5px 5px 15px 0 var(--background-color-dark-transparent);
  cursor: pointer;
  font-weight: 700;
}

.base_button a {
  text-decoration: none;
  color: var(--background-color-light);
}


/* reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  width: var(--width-full);
  font-family: "Quicksand", sans-serif;
  position: relative;
  background-color: var(--background-color-light);
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 900;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  font-weight: 500;
}

button, a {
  font-family: "Cinzel", serif;
}

/* Top Navigation Bar Start */

.navigation_bar_background {
  width: var(--width-full);
  background-color: var(--color-darkblue);
}

.navigation_bar {
  width: var(--width-12col);
  height: 90px;
  padding: 20px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.navigation_bar_logo {
  color: var(--background-color-light);
  display: flex;
  align-items: center;
}

.navigation_bar_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color-light);
}

.navigation_bar_menu a {
  text-decoration: none;
  color: var(--background-color-light);
}

/* Top Navigation Bar End */

/* Bottom Navigation Bar Start */

.bottom_navigation_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--width-full);
  height: 70px;
  background-color: var(--color-darkblue);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.bottom_navigation_bar_grid {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.bottom_navigation_bar_social_common{
  height: 50px;
  width: 50px;
}

.bottom_navigation_bar_social {
  grid-column: 2 / span 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.bottom_navigation_bar_flags {
  grid-column: 8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

  
.bottom_navigation_bar_flag_common {
  width: 36px;
  height: 26px;
}

.bottom_navigation_bar_grid button {
  grid-column: 10 / span 2;
}


/* Bottom Navigation Bar End */

/* Slideshow Start */

.slideshow_container {
  width: var(--width-full);
  position: relative;
  margin: auto;
}

.slideshow {
  display: none; /* Hide images */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-green);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 10%;
  border-radius: 3px;
}

.prev {
  left: 10%;
  border-radius: 3px;
}

/* Add background when hovered */
.prev:hover, .next:hover {
  background-color: var(--background-color-light);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--background-color-light);
  width: 350px;
  right: 15%;
  top: 30%;
}

.slideshow_text h2 {
  text-align: end;
  padding-bottom: 10px;
}

/* Slideshow End */

/* Brochure Start */

.brochure_section {
  width: var(--width-full);
  height: 950px;
}

.brochure_main {
  width: var(--width-12col);
  height: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--grid-gap);
}

.brochure_image {
  grid-column: 1 / span 6;
  grid-row: 2 / span 5;
}

.brochure_text {
  grid-column: 7 / span 6;
  grid-row: 3;
  color: var(--color-darkblue);
}

.brochure_text p {
  font-size: 18px;
  line-height: 2;
}

.brochure_dowload_button {
  grid-column: 8 / span 3;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brochure_dowload_button button {
  background-color: var(--color-blue);
  border-color: transparent;
  border-radius: 33px;
  width: 250px;
  height: 50px;
  color: var(--background-color-light);
  box-shadow: 5px 5px 10px 0 var(--background-color-dark-transparent);
  cursor: pointer;
}

.brochure_social_buttons {
  grid-column: 8 / span 5;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brochure_share_icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.brochure_social_buttons p {
  color: var(--background-color-dark-transparent);
}

.brochure_common_button {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  padding: 0 20px 0 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Brochure End */

/* Newsletter Start */

.newsletter_section {
  height: fit-content;
  width: var(--width-full);
  background-color: var(--color-lightgreen);
}

.newsletter_grid {
  margin: 0 auto;
  width: var(--width-12col);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--grid-gap);
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

.newsletter_common {
  grid-column: 4 / span 8;
  text-align: center;
}

.newsletter_text {
  grid-row: 1 / span 2;
  color: var(--color-darkblue);
  font-size: 14px;
}

.newsletter_text h2 {
  letter-spacing: 3px;
  padding-bottom: 5px;
  font-size: 30px;
}

.newsletter_stayconnected {
  text-transform: uppercase;
  color: var(--color-green);
  font-weight: 900;
  padding-bottom: 5px;
}

.newsletter_subscribe_section {
  grid-row: 3;
}

.newsletter_subscribe_section button {
  border-radius: 6px;
  margin-left: 10px;
}

.newsletter_subscribe_section input {
  width: 450px;
  height: 45px;
  padding-left: 40px;
  border-color: transparent;
  border-radius: 5px;
  background-image: url(../img/email_icon.png);
  background-repeat: no-repeat;
  background-position: 2% center;
}

.newsletter_subscribe_section ::placeholder {
  color: var(--background-color-dark-bg);
  font-size: 13px;
}

.newsletter_unsubscribe {
  grid-row: 4;
  color: var(--color-darkblue);
  font-size: 14px;
}

/* Newsletter End */

/* Footer Section Start */

.footer_section {
  background-color: var(--color-darkblue);
  height: 200px;
  color: var(--background-color-light);
}

.footer_main {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
}

.footer_main_text {
  display: flex;
  justify-content: space-evenly;
  grid-row: 1;
}

.footer_main_text a {
  text-decoration: none;
  color: var(--background-color-light);
}

.footer_main_copyright {
  color: #DCEEF280;
  display: flex;
  justify-content: center;
  grid-row: 2;
  font-size: 14px;
}

/* Footer Section End */






/* About Page Start */

/* Video Section Start */

.video_section {
  width: var(--width-full);
  background-color: var(--color_lightblue);
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_section_grid {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_section_background {
  width: 941px;
  height: 483px;
}

.video_section_play_icon {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
}

/* Video Section End */

/* About the Play Start */

.about_the_play_text {
  grid-row: 2;
  grid-column: 8 / span 4;
}

.about_the_play_text h2 {
  padding-bottom: 30px;
}

.about_the_play_text p {
  font-size: 16px;
}

.about_the_play_text_highlight {
  font-weight: 900;
  font-size: 12px;
  padding-top: 14px;
}

/* Meet the characters Section  */

.meet_the_characters_section {
  background-color: var(--color-lightgreen);
  width: var(--width-full);
  height: 350px;
}

.meet_the_characters_grid {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  color: var(--color-darkblue);
}

.meet_the_characters_title {
  grid-row: 1;
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  text-transform: uppercase;
}

.meet_the_characters_characters {
  grid-row: 2;
  grid-column: 2 / span 11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meet_the_characters_character_common {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
}

.meet_the_characters_character_common p {
  padding-top: 230px;
}

.meet_the_characters_character_common img {
  padding-top: 10px;
  height: 200px;
  position: absolute;
}

.meet_the_characters_character_photo_one {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.meet_the_characters_character_photo_one:hover {
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s ease;
}

/* Slideshow Section */

.slideshow_about {
  width: var(--width-full);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow_about_grid {
  display: grid;
  grid-template-rows: auto auto;
}

.slideshow_about_title {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--color-darkblue);
}

.slideshow_about_title p {
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px
}

.slideshow_about_main {
  width: var(--width-12col);
  margin: 0 auto;
  grid-row: 2;
}

.gallery-cell {
  width: fit-content;
  height: 200px;
  margin: 0 10px 0 0;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color:#fff;
}

/* Responsive Design */

/* Tablet */

@media (width <= 1000px) {

  .navigation_bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .navigation_bar_menu a{
    padding-right: 20px;
  }

  .brochure_main {
    width: var(--width-full);
  }

  .brochure_text {
    grid-column: 8 / span 4;
  }

  .brochure_text h2{
    font-size: 30px;
  }

  .brochure_text p{
    font-size: 16px;
  }

  .brochure_dowload_button {
    grid-column: 8 / span 3;
  }

  .brochure_common_button {
    height: 35px;
    width: 35px;
  }

  .newsletter_grid {
    width: var(--width-full);
  }

  .footer_main {
    width: var(--width-full);
  }

  .slideshow_text h1 {
    font-size: 35px;
  }

  .slideshow_text h2 {
    font-size: 25px;
  }

  .slideshow_text p {
    font-size: 14px;
  }

  /* About page  */
  
  .meet_the_characters_section {
    height: fit-content;
    padding-bottom: 20px;
  }

  .meet_the_characters_grid {
    width: var(--width-full);
    grid-template-rows: repeat(3, auto);
  }

  .meet_the_characters_characters {
    grid-row: 2 / span 2;
    display: grid;
    justify-content:space-evenly;
  }

  .meet_the_characters_character_sophia, .meet_the_characters_character_jane {
    grid-row: 3;
  }

  .slideshow_about_grid, .slideshow_about_main {
    width: 90%;
  }
}

@media (width <= 500px) {

  .base_button {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }

  .bottom_navigation_bar_social_common {
    height: 30px;
    width: 30px;
  }

  .bottom_navigation_bar_social {
    grid-column: 2 / span 4;
  }

  .bottom_navigation_bar_flag_common {
    height: 16px;
    width: 26px;
  }

  .bottom_navigation_bar_flags {
    grid-column: 7 / span 2;
  }

  .navigation_bar{
    font-size: 13px;
  }

  .brochure_section {
    height: 800px;
  }

  .slideshow_text {
    width: 200px;
    right: 25%;
    top: 25%;
  }

  .slideshow_text p h2 h1 {
    display: none;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 15px;
  }

  .newsletter_text h2 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .brochure_main {
    grid-template-rows: repeat(3 , auto);
    height: fit-content;
    padding-bottom: 10px;
  }

  .brochure_image {
    grid-row: 1;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
  }

  .brochure_image img {
    height: 400px;
  }

  .brochure_text {
    grid-row: 2;
    grid-column: 2 / span 10;
  }

  .brochure_dowload_button {
    grid-row: 3;
    grid-column: 2 / span 10;
  }

  .brochure_social_buttons {
    grid-row: 4;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
  }
  
  .brochure_text h2 {
    font-size: 25px;
  }

  .brochure_text p {
    font-size: 14px;
  }

  .newsletter_grid {
    padding: 0;
    grid-gap: 0;
  }

  .newsletter_common {
    grid-column: 1 / span 12;
  }
  
  .newsletter_subscribe_section input {
    width: 50%;
    margin-bottom: 10px;
  }

  .newsletter_subscribe_section ::placeholder {
    font-size: 10px;
  }

  .footer_main_text {
    font-size: 14px;
  }

  .footer_main_copyright {
    font-size: 12px;
  }

  /* About Page */

  .video_section_background {
    width: 90%;
    height: 90%;
  }

  .video_section {
    height: 400px;
  }
  
  .brochure_section_about {
    height: fit-content;
    padding-bottom: 10px;
  }

  .meet_the_characters_section {
    height: fit-content;
    padding-bottom: 20px;
  }

  .meet_the_characters_grid {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .meet_the_characters_characters {
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .slideshow_about_main {
    width: 100%;
  }
}