:root {
  /* dimension */
  --width-full: 100%;
  --width-12col: 1200px;

  /*grid settings*/
  --grid-gap: 10px;
  --padding-default: 20px;

  /*colors*/
  --background-color-light: #DCEEF2;
  --background-color-dark-bg: #111111;
  --color-darkblue: #134D70;
  --color-blue: #126DA6;
  --color_lightblue: #9AC7D9;
  --color-lightgreen: #ADD9C5;
  --color-green: #39B865;
}

/* reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: var(--width-full);
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: var(--background-color-light);
}

/* Navigation Bar Start */

.navigation_bar_background {
  width: var(--width-full);
  background-color: var(--color-darkblue);
}

.navigation_bar {
  width: var(--width-12col);
  height: 90px;
  padding: 20px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.navigation_bar_logo {
  color: var(--background-color-light);
  display: flex;
  align-items: center;
}

.navigation_bar_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color-light);
}

.navigation_bar_menu a {
  text-decoration: none;
  color: var(--background-color-light);
}

.navigation_bar_menu button {
  text-transform: uppercase;
  background-color: #39B865;
  border-color: transparent;
  border-radius: 33px;
  width: 160px;
  height: 50px;
  color: var(--background-color-light);
}

/* Navigation Bar End */

/* Slideshow Start */

.slideshow_container {
  width: var(--width-full);
  position: relative;
  margin: auto;
}

.slideshow {
  display: none; /* Hide the images by default */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color-green);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position of the "next button" */
.next {
  right: 10%;
  border-radius: 3px;
}

/* Position of the "before button" */
.prev {
  left: 10%;
  border-radius: 3px;
}

/* Add background when hovered */
.prev:hover, .next:hover {
  background-color: var(--background-color-light);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}