@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Quicksand:wght@300..700&display=swap');

:root {
  /* dimension */
  --width-full: 100%;
  --width-12col: 1200px;

  /*grid settings*/
  --grid-gap: 10px;

  /*colors*/
  --background-color-light: #DCEEF2;
  --background-color-dark-bg: #111111;
  --background-color-dark-transparent: #11111180;
  --color-darkblue: #134D70;
  --color-blue: #126DA6;
  --color_lightblue: #9AC7D9;
  --color-lightgreen: #ADD9C5;
  --color-green: #39B865;
}

/* base button*/

.base_button {
  text-transform: uppercase;
  background-color: #398557;
  border-color: transparent;
  border-radius: 15px;
  width: 200px;
  height: 80px;
  color: var(--background-color-light);
  box-shadow: 3px 3px 3px 0 var(--background-color-dark-transparent);
  cursor: pointer;
  font-weight: 700;
  display: inline-flex;
}

.base_button a {
  text-decoration: none;
  color: white;
}

.base_button:hover {
  width: 180px;
  transition: all 0.3s ease-in-out;
}

/* reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: var(--width-full);
  font-family: "Quicksand", sans-serif;
  position: relative;
  background-color: var(--background-color-light);
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
}

button, a {
  font-family: "Cinzel", serif;
}

/* Top Navigation Bar Start */

.navigation_bar_background {
  width: var(--width-full);
  background-color: var(--color-darkblue);
}

.navigation_bar {
  width: var(--width-12col);
  height: 100px;
  padding: 20px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.navigation_bar_logo {
  height: 70px;
}

.navigation_bar_logo img {
  height: 80%;
}

.navigation_bar_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--background-color-light);
}

.navigation_bar_menu a {
  text-decoration: none;
  color: var(--background-color-light);
  font-size: 20px;
}

.navigation_bar_menu a:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* Top Navigation Bar End */

/* Bottom Navigation Bar Start */

.bottom_navigation_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--width-full);
  height: 70px;
  background-color: var(--color-darkblue);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.bottom_navigation_bar_grid {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.bottom_navigation_bar_social_common{
  height: 50px;
  width: 50px;
}

.bottom_navigation_bar_social_common:hover {
  height: 60px;
  width: 60px;
  transition: all 0.3s ease-in-out;
}

.bottom_navigation_bar_social {
  grid-column: 2 / span 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.bottom_navigation_bar_flags {
  grid-column: 11;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

  
.bottom_navigation_bar_flag_common {
  width: 80%;
  height: 80%;
}

.bottom_navigation_bar_grid button {
  grid-column: 10 / span 2;
}

.hover_button {
  position: absolute;
  bottom: 125%;
  right: 5%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hover_button:hover {
  height: 70px;
  width: 180px;
}


/* Bottom Navigation Bar End */

/* Slideshow Start */

.slideshow_container {
  width: var(--width-full);
  position: relative;
  margin: auto;
}

.slideshow_background {
  width: var(--width-full);
}

.slideshow_background img {
  width: var(--width-full);
  height: auto;
}

/* Slideshow End */

/* Brochure Start */

.brochure_section {
  width: var(--width-full);
  height: 950px;
}

.brochure_main {
  width: var(--width-12col);
  height: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--grid-gap);
}

.brochure_image {
  grid-column: 1 / span 6;
  grid-row: 2 / span 5;
}

.brochure_image img {
  width: 80%;
  height: auto;
}

.brochure_text {
  grid-column: 7 / span 5;
  grid-row: 3;
  color: var(--color-darkblue);
}

.brochure_text h2 {
  font-weight: 700;
  padding-bottom: 40px;
}

.brochure_text p {
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
}

.brochure_dowload_button {
  grid-column: 8 / span 3;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brochure_dowload_button button {
  background-color: var(--color-blue);
  border-color: transparent;
  border-radius: 15px;
  width: 300px;
  height: 50px;
  color: var(--background-color-light);
  box-shadow: 3px 3px 5px 0 var(--background-color-dark-transparent);
  cursor: pointer;
  font-size: 17px;
}

.brochure_dowload_button button:hover {
  width: 320px;
  height: 60px;
  transition: all 0.3s ease-in-out;
}

.brochure_social_buttons {
  grid-column: 8 / span 5;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brochure_share_icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.brochure_share_icon img {
  width: auto;
  height: auto;
}

.brochure_common_button {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  padding: 0 20px 0 20px;
  margin-left: 10px;
  cursor: pointer;
}

.brochure_common_button:hover {
  height: 55px;
  width: 55px;
  transition: all 0.3s ease-in-out;
}

.brochure_common_button img {
  width: auto;
  height: auto;
}

/* Brochure End */

/* Newsletter Start */

.newsletter_section {
  height: fit-content;
  width: var(--width-full);
  background-color: var(--color-lightgreen);
}

.newsletter_grid {
  margin: 0 auto;
  width: var(--width-12col);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--grid-gap);
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
}

.newsletter_common {
  grid-column: 1 / span 12;
  text-align: center;
}

.newsletter_text {
  grid-row: 1 / span 2;
  color: var(--color-darkblue);
  font-size: 14px;
}

.newsletter_text h2 {
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.newsletter_stayconnected {
  text-transform: uppercase;
  color: var(--background-color-dark-bg);
  font-weight: 900;
  padding-bottom: 5px;
  font-family: "Cinzel", serif;
}

.newsletter_subscribe_section {
  grid-row: 3;
}

.newsletter_subscribe_section button {
  border-radius: 15px;
  margin-left: 10px;
  
}

.newsletter_subscribe_section input {
  width: 450px;
  height: 50px;
  padding-left: 40px;
  border-color: transparent;
  border-radius: 15px;
  background-image: url(../img/email_icon.webp);
  background-repeat: no-repeat;
  background-position: 2% center;
}

.newsletter_subscribe_section ::placeholder {
  color: var(--background-color-dark-bg);
  font-size: 13px;
}

.newsletter_unsubscribe {
  grid-row: 4;
  color: var(--color-darkblue);
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.subscribe_popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.subscribe_popup p {
  margin-top: 0;
  color: #333;
}

.subscribe_popup_title {
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.subscribe_popup .close {
  position: absolute;
  top: 25px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.subscribe_popup .close:hover {
  color: #06D85F;
}
.subscribe_popup .content {
  max-height: 30%;
  overflow: auto;
}

.subscribe_button {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 50px;
}

/* Newsletter End */

/* Footer Section Start */

.footer_section {
  background-color: var(--color-darkblue);
  height: 200px;
  color: var(--background-color-light);
}

.footer_main {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
}

.footer_main_text {
  display: flex;
  justify-content: space-evenly;
  grid-row: 1;
}

.footer_main_text a {
  text-decoration: none;
  color: var(--background-color-light);
}

.footer_main_text a:hover {
    text-decoration: underline;
    font-weight: 700;
  }

.footer_main_copyright {
  color: var(--background-color-light);
  display: flex;
  justify-content: center;
  grid-row: 2;
  font-size: 14px;
}

/* Footer Section End */

/* About Page Start */

/* Video Section Start */

.video_section {
  width: var(--width-full);
  background-color: var(--color_lightblue);
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_section_grid {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_section_background {
  width: 50%;
}

.video_section_play_icon {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
}

/* Video Section End */

/* About the Play Start */

.about_the_play_text {
  grid-row: 2;
  grid-column: 8 / span 4;
}

.about_the_play_text h2 {
  padding-bottom: 30px;
}

.about_the_play_text p {
  font-size: 16px;
}

.about_the_play_text_highlight {
  font-weight: 900;
  font-size: 12px;
  padding-top: 14px;
}

/* Meet the characters Section  */

.meet_the_characters_section {
  background-color: var(--color-lightgreen);
  width: var(--width-full);
  height: 350px;
}

.meet_the_characters_grid {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  color: var(--color-darkblue);
}

.meet_the_characters_title {
  grid-row: 1;
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  text-transform: uppercase;
}

.meet_the_characters_characters {
  grid-row: 2;
  grid-column: 2 / span 11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meet_the_characters_character_common {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
}

.meet_the_characters_character_common p {
  padding-top: 230px;
}

.meet_the_characters_character_common img {
  padding-top: 10px;
  height: 200px;
  position: absolute;
}

.meet_the_characters_character_photo_one {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.meet_the_characters_character_photo_one:hover {
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s ease;
}

/* Slideshow Section */

.slideshow_about {
  width: var(--width-full);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.slideshow_about_grid {
  display: grid;
  grid-template-rows: auto auto;
}

.slideshow_about_title {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: var(--color-darkblue);
}

.slideshow_about_title h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.slideshow_about_title p {
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px
}

.slideshow_about_main {
  width: var(--width-12col);
  margin: 0 auto;
  grid-row: 2;
}

.gallery-cell {
  height:200px;
  margin: 0 10px 0 0;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color:#fff;
}

.flickity-viewport {
height: 600px !important;
}

/* tickets page style */

.upcoming-theatre-events-calendar-section{
  background-color: var(--color_lightblue);
  
}

.upcoming-theatre-events-calendar{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: var(--grid-gap);
  padding: 95px 0 95px 0;
}

.safety-tickets{
  grid-column: 2 / span 3;
  background-color: #ADD9C5;
  display: flex;
  flex-direction: column;
  padding: 26px 28px 26px 28px;
}

.safety-tickets-item{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--color-darkblue);
  margin-top: 20px;
  
}
.safety-tickets-item svg{
  margin-right: 15px;
  height: 24px;
  align-self: flex-start;}

.safety-tickets h2{
  font-size: 30px;
  color: var(--color-darkblue);
}

.upcoming-february-calendar-shows{
  grid-column: 5 / span 7;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.upcoming-february-calendar-shows th,
.upcoming-february-calendar-shows td{
  width: calc(100% / 7);
  
  overflow: hidden;
}

.upcoming-february-calendar-shows thead tr{
  background-color: var(--background-color-light);
  color: var(--color-darkblue);
  
}
.upcoming-february-calendar-shows h2{
  padding: 26px 0 26px 0;
}

tbody{
  background-color: #fff;

}

tbody th, tbody td{
  border: var(--color-darkblue) solid 2px;
}

.week-days{
  text-transform: uppercase;
  font-weight: regular;
  text-align: center;
  
}

table a{
  text-decoration: none;
  color: var(--color-darkblue);
  font-size: 12px;
  background-color: var(--background-color-light);
  border-radius: 15px;
  padding: 3px 8px 3px 8px;
  margin-top: 5px;
  
}

.calendar-date-with-time{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-date-without-time{
  display: flex;
  justify-content: end;
  align-items: end;
}
.calendar-date>div{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.calendar-date {
  position: relative;
  padding: 0;
}

.calendar-date-without-time {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.calendar-date-with-time span{
  justify-self: end;
  padding: 0 12px 8px 0;
}



td span{
  align-self: end;
  padding: 0 12px 8px 0;
}


.weekday{
  padding: 10px 0 10px 0;
}

.other-month{
  background-color: #ededed;
  color: #828282;
}

.calendar-date-with-time-grid-layout{
  display: grid;
  width: 100%;
  height: stretch;
  position: relative;
}
.calendar-date-with-time-grid-layout a{
align-self: center;
justify-self: center;
}
.calendar-date-grid-layout{
  height: 60px;
}
.calendar-date{
  height: 60px;
}
.calendar-date-with-time-grid-layout span{
  justify-self: end;
  align-self: end;
}
  




/* Helpful info section */

.helpful_info_section{
  background-color: var(--background-color-light);
}

.good-to-know-about-the-show-item{
  
  background-color: var(--color-lightgreen);
  border-right: solid var(--color-darkblue) 2px;
  padding: 25px 25px 0 25px;
  flex: 1;

}

.good-to-know-about-the-show{
  padding-top: 85px;
  display: flex;
  flex-direction: row;
  grid-column: 2 / 12;
  
}

.good-to-know-about-the-show-item h3{
  padding-bottom: 50px;
  color: var(--color-darkblue);
  font-size: 14px;
  font-weight: bold;
  
}

.good-to-know-about-the-show-item p{
  color: var(--color-darkblue);
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 30px;
}

.good-to-know-about-the-show-item a{
  text-decoration: none;
  text-transform:initial !important;
  color: var(--color-blue);
  font-style: italic;
}

.good-to-know-about-the-show :last-child{
border: none;
}

.helpful_info{
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: auto;
column-gap: var(--grid-gap);
}

.where-to-find-us{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: var(--grid-gap);
  padding-bottom: 60px;
  max-width: 100%;
}

.where-to-find-us-header{
  display: flex;
  justify-content: center;
  grid-column: 1 / 13;

}
.where-to-find-us h2{
  color: var(--color-darkblue);
  padding: 60px 0 35px 0;
  grid-row: 1;
}

.google-map-window{
  grid-column: 2 / span 5;
  width: 590px;
  height: 300px;
  grid-row: 2;
  max-width: 100%;
}

.where-to-find-us-text{
    grid-column: 8 / span 2;
    grid-row: 2;
    color: var(--color-darkblue);
    display: flex;
    flex-direction: column;
}

.adress-info{
  padding-top: 20px;
}

.parking-info a{
  text-decoration: none;
  font-style: italic;
  color: var(--color-blue);

}

/* FAQ section */

.FAQ-section{
  background-color: var(--color-blue);
}

.FAQ{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: var(--grid-gap);
}

.FAQ-text-container {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 15px 40px 15px;
  text-align: center;
  
}

.FAQ-text-container h2{
  color: var(--color_lightblue);
  font-size: 24px;
  font-weight:regular;
  padding-bottom: 20px;
}

.FAQ-text-container h1{
  color: #F7F3EB;
  font-weight: 700;
  padding-bottom: 20px;
  font-family: "Cinzel", serif;
}

.FAQ-text-container p{
  color: #F7F3EB;
  font-size: 16px;
  padding-bottom: 20px ;
  text-align: center;
}

.FAQ-questions{
  grid-column: 3 / span 8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px ;
}

.FAQ details {
    background: #f7f3eb0a;
    border: 1px solid #f7f3eb1b;
    border-radius: 5px;
    padding: 25px 30px 25px 30px; 
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

.FAQ summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: white;
}

summary::marker {
  display: none;
}

.arrow {
  transition: transform 0.3s ease;
}

details[open] .arrow {
  transform: rotate(180deg);
}

details p {
  margin-top: 15px;
  color: white;
  opacity: 0.9;
  font-size: 15px;
}

/* Responsive Design */

/* Tablet */@media (width <= 1000px) {

  .navigation_bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .navigation_bar_menu p{
    padding: 0 10px 0 10px;
  }

  .navigation_bar_menu a:hover {
    text-decoration: underline;
    font-weight: 700;
  }

  .slideshow_brushstroke {
    display: none;
  }

  .slideshow_logo {
    right: 15%
  }
  
  .slideshow_logo img{
    width: 100%
  }

  .brochure_section {
    height: 1200px;
  }
  .brochure_main {
    width: var(--width-full);
  }

  .brochure_text {
    grid-column: 8 / span 4;
  }

  .brochure_text h2{
    font-size: 30px;
  }

  .brochure_text p{
    font-size: 16px;
  }

  .brochure_dowload_button {
    grid-column: 8 / span 3;
  }

  .brochure_common_button {
    height: 35px;
    width: 35px;
  }

  .brochure_image img {
    width: 100%;
  }

  .newsletter_grid {
    width: var(--width-full);
  }

  .box{
    width: 70%;
  }

  .subscribe_popup{
    width: 70%;
  }

  .footer_main {
    width: var(--width-full);
  }

  .slideshow_text h1 {
    font-size: 35px;
  }

  .slideshow_text h2 {
    font-size: 25px;
  }

  .slideshow_text p {
    font-size: 14px;
  }

  /* About page  */
  
  .meet_the_characters_section {
    height: fit-content;
    padding-bottom: 20px;
  }

  .meet_the_characters_grid {
    width: var(--width-full);
    grid-template-rows: repeat(3, auto);
  }

  .meet_the_characters_characters {
    grid-row: 2 / span 2;
    display: grid;
    justify-content:space-evenly;
  }

  .meet_the_characters_character_sophia, .meet_the_characters_character_katla {
    grid-row: 3;
  }

  .slideshow_about_grid, .slideshow_about_main {
    width: 90%;
  }

  /* ticket page */


}

@media (width < 970px){
  .where-to-find-us-text{
    grid-column: 2 / span 10;
    grid-row: 3;
    padding: 20px 0 0 0;
    text-align: center;
    flex-direction: row;
    justify-content:space-evenly;
}
.adress-info{
  padding-top: 0px;
  padding-left: 10px;
}


  .google-map-window{
  display: block;
  width: 400px;
  height: 150px;
  grid-column: 3 / span 8;
  align-items: center;
  }

}

@media (width <= 830px) {
  .upcoming-february-calendar-shows{
    grid-row: 1;
    grid-column: 2 / span 10;
    
  }
  .good-to-know-about-the-show
  {
    flex-direction: column;
  }

  .good-to-know-about-the-show-item{
  
  background-color: var(--color-lightgreen);
  border-right: none;
  border-bottom: solid var(--color-darkblue) 2px;
  padding: 10px;
  flex: 1;

  }

  .good-to-know-about-the-show-item h3
  {
    padding-bottom: 20px;
  }

  .good-to-know-about-the-show-item p
  {
    padding-bottom: 15px;
  }


  .safety-tickets{
    grid-row: 2;
    grid-column: 2 / span 10;
    margin-top: 20px;
  }

  .upcoming-theatre-events-calendar h2
  {
    font-size: 30px;
    
  }
   .upcoming-theatre-events-calendar p
  {
    font-size: 20px;
     
  }

}



@media (width >= 601px){
  .upcoming-february-calendar-shows-phone{
    display: none;
  }
}



/* Mobile */

@media (width <= 600px) {
/* tickets page start */
  .upcoming-february-calendar-shows-phone{
    grid-column: 3 / 11;
    border-collapse: collapse;
    text-align: center;
  }
  .calendar-booking{
    text-wrap: nowrap;
  }
  .upcoming-february-calendar-shows-phone td{
    padding: 0 5px 0 5px;
  }
  .upcoming-february-calendar-shows-phone thead tr{
    background-color: var(--background-color-light);
    color: var(--color-darkblue);
  }

  .upcoming-february-calendar-shows{
    display: none;
  }

  /* tickets page end */

  .base_button {
    width: 120px;
    height: 40px;
    font-size: 12px;
    display: inline-flex;
  }

  .bottom_navigation_bar_social_common {
    height: 30px;
    width: 30px;
  }

  .bottom_navigation_bar_social {
    grid-column: 2 / span 4;
  }

  .bottom_navigation_bar_flags {
    grid-column: 9 / span 2;
  }

  .navigation_bar{
    font-size: 13px;
  }

  .brochure_section {
    height: fit-content;
  }

  .slideshow_text {
    width: 200px;
    right: 25%;
    top: 25%;
  }

  .slideshow_text p, .slideshow_text h2, .slideshow_text h1 {
    display: none;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 15px;
  }

  .newsletter_text h2 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .slideshow_logo {
    right: -5%
  }
  
  .slideshow_logo img{
    width: 65%
  }

  .brochure_main {
    grid-template-rows: repeat(3 , auto);
    height: fit-content;
    padding-bottom: 10px;
  }

  .brochure_image {
    grid-row: 1;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
  }

  .brochure_text {
    grid-row: 2;
    grid-column: 2 / span 10;
  }

  .brochure_dowload_button {
    grid-row: 3;
    grid-column: 2 / span 10;
    padding-bottom: 20px;
  }

  .brochure_social_buttons {
    grid-row: 4;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
  }
  
  .brochure_text h2 {
    font-size: 25px;
  }

  .brochure_text p {
    font-size: 14px;
  }

  .newsletter_grid {
    padding: 0;
    grid-gap: 0;
  }

  .newsletter_common {
    grid-column: 1 / span 12;
  }
  
  .newsletter_subscribe_section input {
    width: 50%;
    margin-bottom: 10px;
    height: 40px;
  }

  .newsletter_subscribe_section ::placeholder {
    font-size: 10px;
  }

  .box{
    width: 50%;
  }

  .subscribe_popup{
    width: 50%;
  }

  .footer_main_text {
    font-size: 14px;
  }

  .footer_main_copyright {
    font-size: 12px;
  }

  /* About Page */

  .video_section {
    height: 400px;
  }
  
  .brochure_section_about {
    height: fit-content;
    padding-bottom: 10px;
  }

  .meet_the_characters_section {
    height: fit-content;
    padding-bottom: 20px;
  }

  .meet_the_characters_grid {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .meet_the_characters_characters {
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .slideshow_about {
    display: none;
  }
}




@media (width<460px){
  .FAQ-text-container h1{
    font-size: 16px;
  }
  .FAQ-text-container h2{
    font-size: 14px;}
}


